.app-container,
.tournament-container,
.form-success-container,
.form-container {
    display: grid;
    place-content: center;
    height: 100vh;
}

.text-success{
    font-size: xx-large;
}

.app-container h1 {
    text-align: center;
}

.form-container h2 {
    text-align: center;
}

.form-container .form-section {
    width: 950px;
}

.login-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    height: 100vh;
}

.admin-table-container {
    display: grid;
    place-content: center;
}

.admin-table-container .admin-table th,
.admin-table-container .admin-table th {
    text-align: center;
}

.loader-wrapper {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.loader-wrapper .loader {
    height: 200px;
    width: 200px;
    border-color: blue;
    border-right-color: transparent;
}