.loader-wrapper {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: #fff; */
    opacity: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.loader-wrapper .loader {
    height: 200px;
    width: 200px;
    border-color: blue;
    border-right-color: transparent;
}
