* {
  font-family: sans-serif;
}

.app-container,
.tournament-container,
.form-container {
  display: grid;
  place-content: center;
  height: 100vh;
}
.form-success {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8vh;
  height: 100vh;
}

.background-banner1 {
  background-image: url("./svg/banner1.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.background-banner2 {
  background-image: url("./svg/banner3.jpg");
  background-position: center;
  background-size: 102%;
  background-repeat: no-repeat;
}

.team-bird {
  height: 300px;
  margin-right: 30vh;
}

.text-success {
  font-size: xx-large;
}

.app-container h1 {
  text-align: center;
}

.form-container h2 {
  text-align: center;
}

.form-container .form-section {
  width: 950px;
}

.login-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  height: 100vh;
}

.admin-table-container {
  display: grid;
  place-content: center;
}

.admin-table-container .admin-table th,
.admin-table-container .admin-table th,
.filter-title {
  text-align: center;
}

.loader-wrapper {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.loader-wrapper .loader {
  height: 200px;
  width: 200px;
  border-color: blue;
  border-right-color: transparent;
}

.team-title {
  color: #243747;
}

.button-team-blue {
  border: 1px solid #36a1ff !important;
  color: #36a1ff !important;
  transition: all 0.3s ease-in;
}

.button-team-blue:hover {
  border: 1px solid #36a1ff !important;
  color: white !important;
  background-color: #36a1ff !important;
}

/* .team-title span {
  color: #5ce706;
} */

.no-results-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-input {
  padding: 8px;
  width: 230px;
  border-radius: 10px;
  border: 1px solid #36a1ff;
}

.filter-input:focus {
  outline: none;
  color: #36a1ff;
}

.filters-popup-container {
  display: grid;
  place-content: center;
  position: absolute;
  inset: 0;
}

.filters-popup {
  width: 550px;
  height: min-content;
  border: 1px solid grey;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem 1.5rem 2rem;
}

.filter-popup-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
